.checkout-container {
  display: flex;
  flex-direction: column;
  &-header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.7px;
  }
}

@media only screen and (min-width: 767px) {
  .checkout-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
