.order {
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    &-img {
      background-color: white;
      height: 100px;
      width: 100px;
      align-items: center;
      display: flex;
      img {
        height: 50px;
      }
    }
    &-info {
      width: 100%;
      padding-left: 20px;
      > p:first-child {
        font-weight: 700;
      }
    }
  }
  &-details {
    div {
      display: flex;
      justify-content: space-between;
      &:last-child {
        p:last-child {
          font-weight: 700;
        }
      }
      p {
        margin: 5px 0;
      }
    }
  }
  &-summary {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-between;
    }
    div:nth-child(2) {
      border-bottom: 1px solid black;
    }
    div:last-child {
      p:last-child {
        font-weight: 700;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .order-container {
    width: 50%;
    margin: 0 80px;
  }
}
